body {
  margin: 0px;
}

.logo > h1 {
  color: #aaba0c;
}
button > b {
  color: #aaba0c;
}

hr {
  margin: 0;
}

ul > li {
  color: #aaba0c;
  font-style: oblique;
}
.divNavContainer > ul,
li > ul {
  list-style: none;
  margin: 1vw;
}

.divNavContainer > ul {
  padding: 0px;
  margin: 1vw 0;
}
li > button {
  background: transparent;
  border: none !important;
  outline: none;
  padding: 3vw 0 3vw 0;
}

@media (max-width: 575.98px) {
  nav {
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 63px;
    background-image: url(./astronomy-1867616_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
  }

  .divNavContainer {
    background-image: url(./astronomy-1867616_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: absolute;
    top: 63px;
    width: 58vw;
    left: -58vw;
    transition: 1s;
    height: 158vw;
    overflow: scroll;
  }

  .dropDownLi {
    display: flex;
    flex-direction: column;
  }

  .dropDownLi:last-child{
    padding-bottom: 25vw;
  }

  .dropDownLi > ul {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) {
}
